@model ProjectMVC.Models.User

@{
    ViewData["Title"] = "Sign up";
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb7xOLJAqp2w9n0fM8T595phvts_4W80qexg&usqp=CAU');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
        .signup-page {
            max-width: 700px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
        }
        .signup-page ul {
            list-style-type: none;
            padding: 0;

        }
        .signup-page li {
            margin-bottom: 10px;
            display: flex;
            align-items: center;
        }

        .signup-info {
            align-items: center;
        }

        .signup-input button {
            height: 30px;
            width: 100px;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: #F5E0F1;
        }
        .signup-input button:hover {
            background-color: #DB7093;
            color: white;
        }


    </style>
</head>
<body>
    <div class="signup-page">
        <form asp-action="Registration">
            <ul id="signup-list">
                <li>
                    <div class="signup-info">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" placeholder="user@gmail.com" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="signup-info">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" type="password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="signup-info">
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="signup-info">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input class="form-check-input" asp-for="Psycologist" /> @Html.DisplayNameFor(model => model.Psycologist)
                            </label>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="signup-info">
                        <div class="form-group">
                            <label asp-for="Age" class="control-label"></label>
                            <input asp-for="Age" class="form-control" />
                            <span asp-validation-for="Age" class="text-danger"></span>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="signup-input">
                <button>Sign up</button>
            </div>
        </form>
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Back to main page</a>
    </div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}